@using BlazorApp.TechResourceManagement.Bussiness
@using BlazorApp.TechResourceManagement.Domain
@using BlazorApp.TechResourceManagement.Pages.Home.Components
@using System.ComponentModel.DataAnnotations
@using BlazorApp.TechResourceManagement.Pages.ReserveTurn.Components

@attribute [Authorize]

@inject DialogService DialogService
@inject GestorRTRT _gestorRTRT
@inject IJSRuntime JsRuntime

@page "/reserveTurn"

<div class="container-fluid">
    <div class="px-3 py-4">
        @if (cmbTiposRecursosTecnologicos == null)
        {
            <Loading />
        }
        else
        {
            <h3>Reservar turno de recurso tecnológico</h3>
            <div class="row g-3">
                <div class="col-12">
                    <div class="form-group">
                        <label for="Dni">Tipo de Recurso Tecnologico: </label>
                        <RadzenDropDown AllowClear="true" TValue="string"
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    AllowFiltering="true" Class="w-100"
                                    Placeholder="Todas"
                                    Data=@cmbTiposRecursosTecnologicos
                                    TextProperty="Nombre"
                                    ValueProperty="Nombre"
                                    Change=@(args => TomarSeleccionTipoRecurso(args)) />
                    </div>
                </div>
                @if (gridCIsConRecursosTecnologicos != null)
                {
                    <div class="accordion" id="acordionCIs">
                        @foreach (var ci in gridCIsConRecursosTecnologicos)
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panel-heading-@ci.CI.Sigla">
                                    <button class="accordion-button @(gridCIsConRecursosTecnologicos.IndexOf(ci) != 0 ? "collapsed" : "")" type="button"
                                data-bs-toggle="collapse"
                                aria-expanded="false"
                                data-bs-target="#panel-@ci.CI.Sigla">
                                        @ci.CI.Nombre
                                    </button>
                                </h2>
                                <div id="panel-@ci.CI.Sigla" class="accordion-collapse  @(gridCIsConRecursosTecnologicos.IndexOf(ci) != 0 ? "collapse" : "collapse show")" aria-labelledby="panel-heading-@ci.CI.Sigla" data-bs-parent="#acordionCIs">
                                    <div class="accordion-body">
                                        <table class="table table-striped table-responsive-xl">
                                            <thead>
                                                <tr>
                                                    <th>Nro Recurso Tecnologico</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Estado</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var rt in ci.RecursosTecnologicos)
                                                {
                                                    <tr>
                                                        <td>@rt.Recurso.NumeroRT</td>
                                                        <td>@rt.Recurso.ModeloDelRT.Nombre</td>
                                                        <td>@rt.MarcaDelRt.Nombre</td>
                                                        @switch (rt.Recurso.GetEstadoActual().Nombre)
                                                        {
                                                            case "Disponible":
                                                                <td><h3 class="badge bg-primary">@rt.Recurso.GetEstadoActual().Nombre</h3></td>
                                                                break;
                                                            case "EnMantenimiento":
                                                                <td><h3 class="badge bg-success">@rt.Recurso.GetEstadoActual().Nombre</h3></td>
                                                                break;
                                                            case "ConIngresoEnMantenimientoCorrectivo":
                                                                <td><h3 class="badge bg-secondary">@rt.Recurso.GetEstadoActual().Nombre</h3></td>
                                                                break;
                                                        }
                                                        <td>
                                                            <div class=" btn-group">
                                                                @if (estaSeleccionado && rt.Recurso.NumeroRT == RTSeleccionado.NumeroRT)
                                                                {
                                                                    <button type="button" class="btn btn-primary btn-sm" @onclick="(args)=> SolicitarDeseleccionRecursoTecnologico(rt.Recurso, ci.CI.Sigla)">
                                                                        <i class="fa-solid fa-square-check"></i>
                                                                    </button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="button" class="btn btn-danger btn-sm" @onclick="(args)=> SolicitarSeleccionRecursoTecnologico(rt.Recurso, ci.CI.Sigla)">
                                                                        <i class="fa-solid fa-square-minus"></i>
                                                                    </button>
                                                                }
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                                @if (ci.RecursosTecnologicos.Count == 0)
                                                {
                                                    <tr class="text-center">
                                                        <td colspan="5">
                                                            <span class="badge bg-secondary">Table no contain elements. Table is empty</span>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</div>

<SchulderTurn @ref="child" gridTurnos="@gridTurnos" OnShowDialogCallback="@((args)=> SolicitarConfirmacionTurno(args.Item1,args.Item2, args.Item3))"></SchulderTurn>

@code {
    private SchulderTurn child;
    private IList<Turno> gridTurnos { get; set; }
    private string cmbTpSeleccionado { get; set; }
    private RecursoTecnologico? RTSeleccionado { get; set; }
    private string txtCISeleccionado { get; set; }
    private bool estaSeleccionado { get; set; } = false;
    private IList<TipoRecursoTecnologico> cmbTiposRecursosTecnologicos { get; set; }
    private IList<dynamic> gridCIsConRecursosTecnologicos { get; set; }

    //Metodo Inicilizador de la Pantalla
    protected override async Task OnInitializedAsync()
    {
        //Dependencia al GestorRTRT se inyecta arriba @inject
        await SolicitarSeleccionTiposRecursosTecnologicos();
    }

    //Muestra los tipos de recursos tecnologicos
    private async Task SolicitarSeleccionTiposRecursosTecnologicos()
    {
        cmbTiposRecursosTecnologicos = await _gestorRTRT.ReservarTurnoRecursoTecnologico();
        this.gridCIsConRecursosTecnologicos = await _gestorRTRT.TomarTipoRecurso(this.cmbTpSeleccionado);
    }

    //On Change Seleccion Tipo Recurso Tecnologico
    private async Task TomarSeleccionTipoRecurso(object value)
    {
        var cmbTpSeleccionado = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;
        this.cmbTpSeleccionado = cmbTpSeleccionado.ToString();
        this.gridCIsConRecursosTecnologicos = await _gestorRTRT.TomarTipoRecurso(this.cmbTpSeleccionado);
    }


    //On Change Seleccion Recurso Tecnologico
    private async Task SolicitarSeleccionRecursoTecnologico(RecursoTecnologico RTSeleccionado, string txtCISeleccionado)
    {
        this.TomarSeleccionRecursoTecnologico(RTSeleccionado, txtCISeleccionado);

        //Obtener los turnos
        gridTurnos = await _gestorRTRT.TomarRecursoTecnologico(this.RTSeleccionado, this.txtCISeleccionado);
        if (gridTurnos == null)
        {
            //this.ClearRecursoSeleccionado();
            this.SinTurnos(true, "El recurso tecnologico seleccionado no posee turnos.");
            this.ClearRecursoSeleccionado();
            //await JsRuntime.InvokeAsync<string>("alert", "El recurso tecnologico no posee turnos");
        }
    }

    //On Change Seleccion Recurso Tecnologico
    private async Task SolicitarDeseleccionRecursoTecnologico(RecursoTecnologico RTSeleccionado, string txtCISeleccionado)
    {
        if (RTSeleccionado.EsRecursoActual(this.RTSeleccionado.NumeroRT))
        {
            this.ClearRecursoSeleccionado();
            this.gridTurnos = null;
        }
    }

    private void TomarSeleccionRecursoTecnologico(RecursoTecnologico RTSeleccionado, string txtCISeleccionado)
    {
        //Tomo la seleccion del recurso tecnologico y agrego logica al FrontEnd
        this.estaSeleccionado = !RTSeleccionado.EsRecursoActual(this.RTSeleccionado?.NumeroRT) ? true : !this.estaSeleccionado;
        this.RTSeleccionado = RTSeleccionado;
        this.txtCISeleccionado = txtCISeleccionado;
    }

    private void ClearRecursoSeleccionado()
    {
        //Limpio la seleccion del recurso
        this.estaSeleccionado = !this.estaSeleccionado;
        this.txtCISeleccionado = string.Empty;
        this.RTSeleccionado = null;
    }

    public async void SinTurnos(bool withMessageAsString, string message)
    {
        InvokeAsync(async () =>
        {
            // Simulate background task
            await Task.Delay(2000);

            // Close the dialog
            DialogService.Close();
        });

        if (withMessageAsString)
        {
            await MostrarDialogoSinTurnos(message, "images/resource-tech-background-1.jpg");
        }
        else
        {
            await MostrarDialogoSinTurnos(string.Empty, "images/resource-tech-background-0.jpg");
        }
    }

    // Busy dialog from markup
    public async Task MostrarDialogoSinTurnos(string message, string pathImage)
    {
        await DialogService.OpenAsync("Información", ds =>
                @<div>
                    <div class="row">
                        <div class="col text-center p-5">
                            <RadzenImage Path="@pathImage"
                                     class=" d-inline-block justify-content-between align-items-center"
                                     Style="width: 200px; margin-bottom: 40px;" />
                            <h3>@message</h3>
                        </div>
                    </div>
                </div>
                ,
                new DialogOptions()
                {
                    Style = "min-height:auto;min-width:auto;width:auto",
                    CloseDialogOnEsc = true,
                    CloseDialogOnOverlayClick = true
                });
    }
    public async Task SolicitarConfirmacionTurno(string message, Turno turno, RecursoTecnologico recursoTecnologico)
    {
        var rt = await DialogService.OpenAsync<DetailTurn>(message,
                new Dictionary<string, object>() {
                    { "RTSeleccionado", recursoTecnologico },
                    { "turno", turno } },
                new DialogOptions() { Width = "700px", Height = "570px", Resizable = true, Draggable = true });
        if (rt)
        {
            gridTurnos = await _gestorRTRT.TomarRecursoTecnologico(recursoTecnologico, this.txtCISeleccionado);
            child.ActualizarSchulder();
        }
    }
}
