@using BlazorApp.TechResourceManagement.Bussiness
@using BlazorApp.TechResourceManagement.Domain
@using BlazorApp.TechResourceManagement.Pages.Home.Components
@using System.ComponentModel.DataAnnotations

@inject NavigationManager _navigationManager
@inject GestorRTRT _gestorRTRT

@page "/reserveTurn"

<div class="container-fluid">
    <div class="px-3 py-4">
        @if (cmbTiposRecursosTecnologicos == null)
        {
            <Loading />
        }
        else
        {
            <h3>Index.ReserveTurn</h3>
            <EditForm Model="@modelData" OnValidSubmit="SendDto" class="row g-3">
                <div class="col-12">
                    <div class="form-group">
                        <label for="Dni">Tipo de Recurso Tecnologico: </label>
                        <InputSelect id="TpRecursoTecnologico"
                                 class="form-select"
                                 ValueExpression="@(()=>cmbTpSeleccionado)"
                                 Value="@cmbTpSeleccionado"
                                 ValueChanged="@((string cmbTpSeleccionado) => SolicitarSeleccionTipoRecurso(cmbTpSeleccionado))">
                            <option value="null">TODAS</option>
                            @foreach (var tp in cmbTiposRecursosTecnologicos)
                        {
                            <option value="@tp.MostrarCategoria()">@tp.MostrarCategoria()</option>
                        }
                        </InputSelect>
                    </div>
                </div>
                @if (gridCIsConRecursosTecnologicos != null)
                {
                    <div class="accordion" id="acordionCIs">
                        @foreach (var ci in gridCIsConRecursosTecnologicos)
                        {
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panel-heading-@ci.GetHashCode()">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-@ci.GetHashCode()" aria-expanded="true" aria-controls="panel-@ci.GetHashCode()">
                                        @ci.MostrarCI()
                                    </button>
                                </h2>
                                <div id="panel-@ci.GetHashCode()" class="accordion-collapse collapse show" aria-labelledby="panel-heading-@ci.GetHashCode()" data-bs-parent="#acordionCIs">
                                    <div class="accordion-body">
                                        <table class="table table-striped table-responsive-xl">
                                            <thead>
                                                <tr>
                                                    <th>Nro Recurso Tecnologico</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Estado</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var rt in ci.MisRecursosTecnologicos())
                                                {
                                                    <tr>
                                                        <td>@rt.MostrarRT().numeroRT</td>
                                                        <td>@rt.MostrarRT().modeloDelRT</td>
                                                        <td>@rt.MostrarRT().marcaDelRT</td>
                                                        @switch (rt.MostrarRT().estadoActual)
                                                        {
                                                            case "Disponible":
                                                                <td><h3 class="badge bg-primary">@rt.MostrarRT().estadoActual</h3></td>
                                                                break;
                                                            case "EnMantenimiento":
                                                                <td><h3 class="badge bg-success">@rt.MostrarRT().estadoActual</h3></td>
                                                                break;
                                                            case "ConIngresoEnMantenimientoCorrectivo":
                                                                <td><h3 class="badge bg-secondary">@rt.MostrarRT().estadoActual</h3></td>
                                                                break;
                                                        }
                                                        <td>
                                                            <div class=" btn-group">
                                                                <button type="button" class="btn btn-primary btn-sm">
                                                                    <i class="fa-solid fa-square-check"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-danger btn-sm">
                                                                    <i class="fa-solid fa-square-minus"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                                @if (!ci.MisRecursosTecnologicos().Any())
                                                {
                                                    <tr class="text-center">
                                                        <td colspan="5">
                                                            <span class="badge bg-secondary">Table no contain elements. Table is empty</span>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </EditForm>
        }
    </div>
</div>

@code {

    public class ModelData { }

    public string cmbTpSeleccionado { get; set; }

    private IList<TipoRecursoTecnologico> cmbTiposRecursosTecnologicos { get; set; }

    private IList<CentroDeInvestigacion> gridCIsConRecursosTecnologicos { get; set; }

    private ModelData modelData { get; set; } = new ModelData();

    //Metodo Inicilizador de la Pantalla
    protected override async Task OnInitializedAsync()
    {
        //Dependencia al GestorRTRT se inyecta arriba @inject
        await MostrarTiposRecursosTecnologicos();
    }

    private async Task MostrarTiposRecursosTecnologicos()
    {
        cmbTiposRecursosTecnologicos = await _gestorRTRT.ReservarTurnoRecursoTecnologico();
    }

    //On Change Seleccion Tipo Recurso Tecnologico
    private async Task SolicitarSeleccionTipoRecurso(string cmbTpSeleccionado)
    {
        this.cmbTpSeleccionado = cmbTpSeleccionado;
        await MostrarRecursosTecnologicos();
    }

    private async Task MostrarRecursosTecnologicos()
    {
        this.gridCIsConRecursosTecnologicos = await _gestorRTRT.TomarTipoRecurso(this.cmbTpSeleccionado);
    }


    public void SendDto()
    {
    }
}
